* {
    box-sizing: border-box;
}

html {
    background-color: var(--clr-secondary--2);

    /* font-family: ; */
}

body {
    margin: 0;
    font-size: 1rem;
}

canvas {
    background-color: lightblue;
}

img {
    display: block;
    width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
}