* {
    box-sizing: border-box;
}

html {
    background-color: var(--clr-secondary--2);

    font-family: Montserrat, sans-serif;
}

body {
    position: relative;
    margin: 0;
    font-size: 1rem;
}

canvas {

    background-color: lightblue;
}

img {
    display: block;
    width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

.delete-btn {
    width: 100%;
    background-color: var(--clr-primary-base);
    border: none;
    cursor: pointer;
}