/*  flex helpers */
.flex {
    display: flex;
}

.flex.col {
    flex-direction: column;
}

.flex.center {
    justify-content: center;
    align-items: center;
}

.flex.flex-direction-column {
    flex-direction: column;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

flex.gap106 {
    gap: 1.06em;
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main-layout.flow-column {
    grid-auto-flow: column;
}