.main-layout {
    display: grid;
    grid-template-columns: 5px auto 5px;
}

.main-layout>*.full {
    grid-column: 1 / -1;
}

.main-layout>*:not(.full) {
    grid-column: 2;
}

.editor-page-layout {
    display: grid;

    place-items: center;
    gap: 20px;
}

.gallery-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;

}