.gallery-header {
    background-color: var(--clr-white);
    width: 100%;
}


.gallery-header>div {
    display: flex;
    flex-direction: column;

    padding: 1em;
}

.gallery-header .gallery-btn {
    width: 100px;
    height: 2em;
    border: none;
    background-color: var(--clr-primary-base);
    color: white;
    border-radius: 1em;
    margin-inline-end: auto;
    cursor: pointer;
}

.gallery-header .gallery-clear-btn {
    width: 100px;
    height: 2em;
    border: 2px solid var(--clr-primary-base);
    color: var(--clr-primary-base);
    border-radius: 1em;
    background-color: var(--clr-white);
    margin: 0 1em;
    cursor: pointer;
}

.gallery-header div input {
    position: relative;
    z-index: 1;
    font-size: 1.1875em;
    padding: 0.315789em;
    border: none;
    border-bottom: 2px solid black;

}




.search-bar {
    margin-bottom: 1.2em;
}




.gallery-header img {
    height: 20px;
    width: 20px;

    cursor: pointer;

}

.key-words {
    gap: 1.875em;
}