.gallery-header {
    background-color: var(--clr-white);
    width: 100%;
}


.gallery-header>div {
    display: flex;
    flex-direction: column;

    padding: 1em;
}

.gallery-header .gallery-btn {
    width: 100px;
    height: 2em;
    border: none;
    background-color: var(--clr-primary-base);
    color: white;
    border-radius: 1em;
    margin-inline-end: auto;
    cursor: pointer;
}

.gallery-header .gallery-clear-btn {
    width: 100px;
    height: 2em;
    border: 2px solid var(--clr-primary-base);
    color: var(--clr-primary-base);
    border-radius: 1em;
    background-color: var(--clr-white);
    /* margin: 0 1em; */
    cursor: pointer;
}

.gallery-header div input {

    font-size: 1.1875em;
    padding: 0.315789em;
    border: none;
    border-bottom: 2px solid black;

}




.search-bar {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1.2em;
}




.gallery-header img {
    height: 20px;
    width: 20px;

    cursor: pointer;

}

.gallery-header .key-words {
    gap: 1.875em;
    margin-bottom: 1em;
}

.open-more a {
    color: var(--clr-secondary-base);
}

.more-keywords-container.close {
    display: none;
}

.more-keywords-container {
    background-color: var(--clr-white);
}


.more-keywords {
    flex-direction: column;
    padding: 1em 0;
    gap: 5px;
}