.main-nav .main-nav-list li a {
    position: relative;
    width: 100vw;
    height: 60px;
    display: grid;
    place-items: center;
    color: var(--clr-white);
    transition: box-shadow .4s;
    padding: 1rem;

}

.main-nav .main-nav-list li:first-child a {
    /* border-inline-end: 2px solid; */
    /* border-image: linear-gradient(to top, transparent, transparent, orange, transparent, transparent) 1; */
    padding: 1rem;
}


.main-nav .main-nav-list li:last-child a {}


.main-nav-list li a.active {
    color: var(--clr-secondary-base);
    box-shadow: inset 0px -6px 0px var(--clr-secondary-base);
}

.main-nav-list li a:hover {
    box-shadow: inset 0px -6px 0px var(--clr-secondary-base);
}