/* Mobile  */
@media (max-width:620px) {
    .burger-container {
        display: block;
    }


    .main-nav {
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;

        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: grid-template-rows .5s;
        align-items: end;

    }

    .main-nav.open {
        grid-template-rows: 1fr;

    }

    .main-nav-list {
        min-height: 0;
        background: var(--clr-primary-base);
        flex-direction: column;
    }


    .main-nav-list li a {
        height: 100px;
    }

    .main-editor-page {
        margin-top: 100px;

    }

    .gallery-header {
        margin-top: 60px;
    }


}

/* Small  */
@media (min-width : 620px) {

    .main-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, var(--break-s)) minmax(20px, 1fr);

    }

    .main-header {
        position: static;
    }


    .main-canvas {
        height: 540px;
        width: 540px;
    }

    .main-nav .main-nav-list li a {
        position: relative;
        width: auto;
        height: 60px;
        display: grid;
        place-items: center;
        transition: box-shadow .4s;
    }


    .main-nav .main-nav-list li a::after {
        content: '';
        border-right: 1px solid var(--clr-secondary--1);
        position: absolute;
        inset: 0 0 1px 0;
        scale: 1 0.5;
    }


}

/* Medium  */
@media (min-width : 860px) {
    .main-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, var(--break-m)) minmax(20px, 1fr);
    }

    .gallery-layout {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 30px;
    }


    .gallery-header>div {
        display: flex;
        flex-direction: row;

    }

    .search-bar {
        margin-bottom: 0;
    }

    .gallery-layout {
        margin: 30px 0;
    }





    .editor-page-layout {
        display: grid;
        grid-template-columns: 400px 400px;
        column-gap: 20px;
    }

    .main-editor-page .main-edit-tools {
        padding: 0 1em;
    }

    .main-canvas {
        height: 400px;
        width: 400px;
    }


    .main-editor-page .main-edit-tools .line-txt-input {
        display: none;
    }

    .main-editor-page .main-edit-tools .line-mod {
        gap: 0.5em;
        margin-bottom: 2em;
    }


    .main-editor-page .main-edit-tools .btn {
        height: 50px;
        width: 50px;
        border-radius: 0.6em;
        border: none;
        background: var(--clr-white);

        cursor: pointer;
    }


    .main-editor-page .main-edit-tools .btn img {
        padding: 0.25em;
        object-fit: contain;
        height: 100%;
        width: 100%;
    }

    .main-editor-page .main-edit-tools .font-edit {
        gap: 0.5em;
        margin-bottom: 0.4em;
    }

    .main-editor-page .main-edit-tools .color-mod {
        gap: 0.5em;
        margin-bottom: 1em;


    }


    .main-editor-page .main-edit-tools select {
        height: 50px;
        padding: 0.5em;
        border-radius: 0.6em;
        border: none;
        background: var(--clr-white);

        cursor: pointer;
        width: 165px;

    }


    .main-editor-page .main-edit-tools {
        padding: 0 5em;
    }

    .gallery-header .gallery-clear-btn {

        margin: 0 1em;
    }


    .main-editor-page .main-edit-tools .stickers-container button {
        font-size: 2.5em;
    }



    .search-bar {
        flex-direction: row;
    }





}

/* Large  */
@media (min-width : 1100px) {
    .main-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, var(--break-l)) minmax(20px, 1fr);
    }

    .editor-page-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .main-editor-page .main-edit-tools {
        padding: 0 5em;
    }

    .main-canvas {
        height: 540px;
        width: 540px;
    }


    .main-editor-page .main-edit-tools .line-txt-input {
        width: 100%;
        font-size: 1.25em;
        padding: 1.1em;

    }

    .main-editor-page .main-edit-tools .line-mod {
        gap: 0.5em;
        margin-bottom: 2.5em;
    }


    .main-editor-page .main-edit-tools .btn {
        height: 63px;
        width: 63px;

    }


    .main-editor-page .main-edit-tools .btn img {
        padding: 0.75em;
    }

    .main-editor-page .main-edit-tools .font-edit {
        gap: 1.06em;
    }

    .main-editor-page .main-edit-tools .color-mod {
        gap: 1.06em;
        margin-bottom: 1.625em;


    }


    .main-editor-page .main-edit-tools select {
        gap: 1.06em;
        height: 63px;
        padding: 1.56em;

        width: 221px;

    }
}