@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Londira;
    src: url(/fonts/Londrina_Outline/LondrinaOutline-Regular.ttf);
}